.welcome-content{
    background-color: black;
    display: flex;
    margin-top: 120px;
    margin-left: 220px;
    margin-right: 220px;
    width: 70vw;
    padding: 60px 20px;
    align-items: center;
    flex-direction: column;
    
}

.valorant-logo{
  
    display: flex;
    justify-content: center;
}
.valorant-logo img{
    margin-top: 40px;
    height: 120px;
    width: 120px;
    vertical-align: center;
}


.introduction{
    font-family: helvetica, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    font-size: 150%;
   
    
}

.wiki-content{
   line-height: 24px;
   padding: 50px;
   font-family: roboto, arial;
   text-align: center;
}

.intro-content{
    display:inline-block;
    font-weight: 800;
    font-size: 18px;
}

.p-valorant{
    color: #d84c57;
    font-weight: 800;
    margin-left: 4px;
    margin-right: 4px;
}
.riot-games{
    color: #d84c57;
    font-weight: 800;
}
.intro-description{
    display: inline-block;
    text-align: center;
    font-style: roboto;
}
.spacing{
    display: block;
}

.main-contents{
    padding: 60px 20px;
    width: 70vw;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 220px;
    margin-right: 220px;
}
.contents-header{
    background-color: #d84c57;
    width: 100%;
    text-align: center;
    color: white;
    font-family: roboto;
    font-size: 24px;
    font-weight: 800;
    border-radius: 11px;
    padding: 20px 10px;
}

.contents {
    padding: 20px 15px;
    border-radius: 5px;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;
    align-items: center;
}

.contents a{
    font-family: roboto;
    font-size: 25px;
    color: #d84c57;
    margin-top: 25px;
    text-decoration: none;
   flex-shrink: 0;
}

.content-series{
    display: inline-block;
    text-align: center;
}
.content-series img{
    display: block;
}



.main-contents-agents{
   padding: 40px 20px;
   width: 70vw;
   color: white;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 30px;
   margin-left: 220px;   
   margin-right: 220px;
   justify-content: space-evenly; 
   flex-shrink: 0;
   flex-grow: 0;
  
    
}
.main-contents-agents li:hover{
    text-decoration: underline;
    color: #d84c57;
  
}


.agents-list{
    display: flex;
    border-inline-width: 150px;
    justify-content: space-evenly;
    flex-direction: row
}

.agents-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    margin: 5px 15px;

}

.contents-weapons p{
    font-size: 24px;
    font: 900;
    font-family: roboto,arial;
    display: block;
    text-align: center;
    
}

li{
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
}