.welcome-content{
    background-color: black;
    display: block;
    margin-top: 60px;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 500px;
    padding: 50px;
    align-items: center;
}

.valorant-logo{
    display: flex;
    justify-content: center;
}
.valorant-logo img{
    height: 80px;
    width: 80px;
    vertical-align: center;
}


.introduction{
    font-family: helvetica, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    font-size: 150%;
    
}

.wiki-content{
   line-height: 24px;
   padding: 50px;
   font-family: roboto, arial;
   text-align: center;
}

.intro-content{
    display:inline-block;
    font-weight: 800;
    font-size: 18px;
}

.p-valorant{
    color: #d84c57;
    font-weight: 800;
    margin-left: 4px;
    margin-right: 4px;
}
.riot-games{
    color: #d84c57;
    font-weight: 800;
}
.intro-description{
    display: inline-block;
    text-align: center;
    font-style: roboto;
}
.spacing{
    display: block;
}